<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a href="{% url 'home' %}" class="navbar-brand">Facturación</a>
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="navbar-collapse collapse" id="navbar-main">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="{% url 'home' %}">Inicio</a></li>
				<li><a href="{% url 'list_product' %}">Productos</a></li>
				<li><a href="{% url 'list_factura' %}">Facturas</a></li>
			</ul>
		</div>
	</div>
</div>